appdirs>=1.4.4, <1.5.0
click>=8.1.7, <9.0.0
daemons>=1.3.2, <1.4.0
iteration_utilities>=0.12.0, <0.13.0
PyChromecast>=13.0.8, <14.0.0
pydbus>=0.6.0, <0.7.0
PyGObject>=3.34.0
rich>=13.6.0, <14.0.0
validators>=0.22.0, <0.23.0
# typing-extensions>=4.2.0; python_version < '3.11'

aiopath>=0.7.6; python_version >= '3.12'
mpris_server>=0.9.0, <=0.10.0
app_paths>=0.0.8, <0.1.0
